@tailwind base;
@tailwind components;
@tailwind utilities;

.header_list {
  position: relative;
}

.header_list .border_element {
  width: 100%;
  display: none;
  height: 2px;
  background-color: #1b5bf7;
  position: absolute;
  transition: all 0.3s ease-in-out;
  margin: -10px 0;
}

.header_list:hover .border_element {
  width: 100%;
  height: 1.5px;
  display: block;
  background-color: #1b5bf7;
  position: absolute;
  transition: all 0.3s ease-in-out;
  margin: -10px 0;
}

.header_list:hover .navigation_content {
  display: block;
}
